a:link {
    color: #669;
}

a:active {
    color: #669;
}

a:visited {
    color: #669;
}

a:hover {
    color: green;
}

body {
    bgcolor: #fff;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 10pt;
}

th {
    bgcolor: #000;
    color: #FFF;
    text-align: left;
    font-family: Verdana,Geneva,sans-serif;
    font-weight: 700;
    font-size: 10pt;
}

td {
    bgcolor: #fff;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 10pt;
}

p {
    font-family: Verdana,Geneva,sans-serif;
    font-size: 10pt;
}

li {
    font-family: Verdana,Geneva,sans-serif;
    font-size: 10pt;
}

ul {
    font-family: Verdana,Geneva,sans-serif;
    font-size: 10pt;
}

ol {
    font-family: Verdana,Geneva,sans-serif;
    font-size: 10pt;
}

h1 {
    font-family: Verdana,Geneva,sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 24pt;
    background-attachment: fixed;
    background-position: center center;
    text-transform: none;
    text-align: center;
    color: #006;
    margin-top: 0;
    margin-bottom: 14pt;
}

h2 {
    font-family: Verdana,Geneva,sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 14pt;
    background-attachment: fixed;
    background-color: #006;
    background-position: center center;
    text-transform: none;
    text-align: center;
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    font-family: Verdana,Geneva,sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    font-size: 12pt;
    text-align: left;
    color: #006;
    margin-top: 14pt;
    margin-bottom: 6pt;
}

h4 {
    font-family: Verdana,Geneva,sans-serif;
    font-size: 14pt;
    margin-top: 14pt;
    margin-bottom: 0;
}

h5 {
    font-family: Verdana,Geneva,sans-serif;
    font-size: 12pt;
}

h6 {
    font-family: Verdana,Geneva,sans-serif;
    font-size: 10pt;
}

code {
    font-weight: 400;
    font-size: 10pt;
}

pre {
    font-weight: 400;
    font-size: 10pt;
}

cite {
    font-style: italic;
    font-variant: normal;
    font-weight: 700;
    color: #669;
}

.step {
    font-family: Verdana,Geneva,sans-serif;
    font-size: 10pt;
    margin-top: 12px;
}

.tablehead {
    font-family: Verdana,Geneva,sans-serif;
    font-weight: 700;
    font-size: 10pt;
    text-align: center;
    color: #000;
}

.tablecell {
    font-family: Verdana,Geneva,sans-serif;
    font-size: 10pt;
}

.whitetext {
    font-family: Verdana,Geneva,sans-serif;
    font-weight: 400;
    font-size: 10pt;
    color: #fff;
    margin-left: 4pt;
}
